html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

/* * {
  border: 1px solid red;
} */

/* Globales */
a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

.grid-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.table {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.profile {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.chart {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.center-btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-margin-l {
  margin-left: 2rem;
  border-radius: 1rem;
}

.right {
  justify-content: flex-start;
  align-items: flex-start;
}

.pad-l {
  padding-left: 0;
}

.flex-start {
  justify-content: flex-start;
}

.wid-20 {
  width: 20rem;
}