html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    overflow: scroll;
}

/* * {
    border: 1px solid red;
} */

/* Globales */
a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.login-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 120rem;
    margin: 20rem auto;
}

.signup-section-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 120rem;
    margin: 5rem auto;
}

.max-btn-40 {
    width: 40rem;
}

.login-section {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.max-btn {
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: none;
}

.input-max {
    width: 100%;
}

li {
    list-style: none;
}

.label-login, .text {
    font-size: 2rem;
}

input {
    margin-top: .5rem;
    margin-bottom: 2rem;
    padding: .5rem 3rem .5rem .5rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
}

@media (max-width: 600px) {
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 40rem;
        margin: 10rem 2rem;
    }
    .max-btn {
        width: 30rem;
    }
    .login-section {
        margin-top: 6rem;
    }
    .login-form {
        margin-top: 1rem;
    }
    .signup-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-left {
        text-align: left;
    }
    .signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40rem;
    }
}

