html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--main-text);
  background-color: var(--main-color);
}

/* * {
  border: 1px solid red;
} */

/* Globales */
a {
  text-decoration: none;
  color: var(--main-text);
}

h1, h2, h3 {
  margin: 0;
}

.container-email {
  max-width: 120rem;
  margin: 0 auto;
}

.flex-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token {
  margin-bottom: 2rem;
}

.h2-email {
  font-weight: 400;
}

.read:disabled {
  background-color: #fff;
}

.btn-margin-btm {
  margin-bottom: 3rem;
}

.flex-inline {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.mar-0 {
  margin: 0;
}

.h2-email:nth-child(1) {
  margin-bottom: 1rem;
}