.Spinner {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.Spinner__animation {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #6c63ff;
  border-radius: 50%;
  animation: Spinner__animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6c63ff transparent transparent transparent;
}

@keyframes Spinner__animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
