.table tr:nth-child(even) {
  background-color: #444648;
}

table {
  table-layout: fixed;
}

.table tr:nth-child(odd) {
  background-color: #929292;
}

.table td, 
.table th {
  border: none;
  padding: 8px;
  text-align: center;
}

.table tr:hover {
  background-color: rgba(0, 0, 0, 0.424);
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #353535;
  color: white;
}

.table {
  width: 100%;
  overflow: auto;
}

.grid-max {
  max-height: 57vh;
  overflow-y: auto;
}