:root {
    --main-color: #ded6cb;
    --main-text: #837D74;
    --black: #000;
    --black-degradation: rgba(0, 0, 0, 0.424);
    --white: #FFF
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    color: var(--main-text);
    background-color: var(--main-color);
}

/* * {
    border: 1px solid red;
} */

/* Globales */
a {
    text-decoration: none;
    color: var(--main-text);
}

h1, h2, h3 {
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.ajuste {
    width: 100rem;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 5rem;
    list-style: none;
}

button {
    font-size: 2rem;
    padding: 1rem 3rem;
    background-color: var(--black-degradation);
    border: none;
    color: var(--white);
    transition: 0.3s;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--white);
    color: var(--black-degradation);
}

.img-logo {
    width: 20%;
    height: 10%;
    margin-bottom: 5rem;
}

@media (max-width: 600px) {
    button {
        font-size: 1.5rem;
    }
    .img-logo {
        width: 50%;
        height: 25%;
    }
    h1 {
        font-size: 3rem;
        margin: 0 2rem;
        text-align: center;
    }
}